@{
    ViewBag.Title = "Travel";
}

<script src="~/Scripts/app/controllers/BloggerController.js"></script>
<script src="~/Scripts/app/services/BloggerService.js"></script>
<script src="~/Scripts/app/controllers/BlogInfoController.js"></script>
<script src="~/Scripts/app/services/BlogInfoService.js"></script>

<div ng-app="app" ng-controller="BloggerController">
    <ul>
        <li ng-repeat="empDetails in testData"><strong>{{empDetails.Name}}</strong>|{{empDetails.Account}}|{{empDetails.Designation}}</li>
    </ul>
</div>

<div ng-app="app" ng-controller="BlogInfoController">
    <ul>
        <li><strong>{{blogData.BlogId}}</strong></li>
    </ul>
</div>