
@{
    ViewBag.Title = "Post Home";
}

<script src="~/Scripts/app/controllers/BlogInfoController.js"></script>
<script src="~/Scripts/app/services/BlogInfoService.js"></script>
<script src="~/Scripts/app/services/UserService.js"></script>
<script src="~/Scripts/app/components/CommentComponent.js"></script>
<base href="/">

<div id="fb-root"></div>
<script>
    function goToByScroll(id) {
        $('html,body').animate({ scrollTop: $("#" + id).offset().top - 70 }, 'slow');
    }
    //Facebook comment plugin script.
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=2099597870257585';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<section class="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="content-area" ng-controller="BlogInfoController as $blogInfoCtrl">

                    <article class="single-post">
                        {{blogData.TitleImage}} {{prevPost.BlogId}} {{nextPost.BlogId}}
                        <div class="post-media post-image">
                            <a href="#"><img ng-src="~/Images/Post/{{blogData.TitleImage}}" alt="img"></a>
                        </div>

                        <div class="post-inwrap header-single">
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#">{{blogData.Title}}</a>
                                </h2>
                            </div>

                            <div class="post-meta">
                                <span class="post-author">
                                    <i class="fa fa-user"></i>
                                    <a href="#">{{blogData.blogger.FirstName}}</a>
                                </span>
                                <span class="post-cat">
                                    <i class="fa fa-folder"></i>
                                    <a href="#">{{blogData.Category}}</a>
                                </span>
                                <span class="post-date">
                                    <i class="fa fa-clock-o"></i>
                                    {{blogData.PostDate | date :  "MMMM d, yyyy"}}
                                </span>
                                <span class="post-readtime">
                                    <i class="fa fa-hourglass-start"></i>
                                    {{blogData.ReadingTime}}
                                </span>
                                <span class="post-comment">
                                    <i class="fa fa-comments"></i>
                                    <a href="" class="comments-link" onclick="goToByScroll('fb-comments')">
                                        <span>03</span>
                                    </a>
                                </span>
                            </div><!-- Post meta end -->

                        </div><!-- post wrap end -->


                        <div class="entry-content">
                            <p><span class="dropcap">{{postContent.Intro_Highlight.substring(0,1)}}</span>{{postContent.Intro_Highlight.substring(1)}}</p>
                            <p>{{postContent.Introduction}}</p>
                            <blockquote>
                                <p>{{postContent.Quote}}</p>
                            </blockquote>
                            <p>{{postContent.Description_Start}}</p>
                            <div class="post-media body-image">
                                <a href="#"><img ng-src="~/Images/Post/{{postContent.Image_BeforeHighlights}}" alt="img"></a>
                            </div>
                            <p class="image-desc">Photo taken at</p>
                            <ul>
                                <li ng-repeat="x in postContent.Highlights.split('.')">{{x}}</li>
                            </ul>
                            <div class="post-media body-image">
                                <a href="#"><img ng-src="~/Images/Post/{{postContent.Image_AfterHighlights}}" alt="img"></a>
                            </div>
                            <p class="image-desc">Photo taken at</p>
                            <br />
                            <p>{{postContent.Description_End}}</p>
                            <br />
                            <div class="post-media body-image">
                                <a href="#"><img ng-src="~/Images/Post/{{postContent.Image_End}}" alt="img"></a>
                            </div>
                            <p class="image-desc">Photo taken at</p>
                            <br />
                            <p>{{postContent.Closing_Statements}}</p>
                            <br />
                            <div class="post-media body-image">
                                <a href="#"><img ng-src="~/Images/Post/{{postContent.Image_Direction}}" alt="img"></a>
                            </div>
                            <p class="image-desc">Photo taken at</p>
                            <br />
                            <div id="howtoarrive" ng-if="postContent.ArrivingHere">
                                <h4><u>How to arrive here?</u></h4>
                                <p>{{postContent.ArrivingHere}}</p>
                                <br />
                            </div>
                            <div id="attractions" ng-if="postContent.Attractions">
                                <h4><u>Attractions and Sightseeing</u></h4>
                                <ul style="margin: 0px;width: 100%;">
                                    <li ng-repeat="x in postContent.Attractions.split(',')">{{x}}</li>
                                </ul>
                                <br />
                            </div>
                            <div id="accommodation" ng-if="postContent.Accommodation">
                                <h4><u>Accommodation</u></h4>
                                <p>{{postContent.Accommodation}}</p>
                                <br />
                            </div>
                            <div id="howtomovearound" ng-if="postContent.Direction">
                                <h4><u>How to move around?</u></h4>
                                <p>{{postContent.Direction}}</p>
                                <br />
                            </div>
                            <p class="ask-for-comment">
                                Any thoughts, questions or a feedback you want to share with us? Feel free to put a comment using our
                                <a style="font-weight: bold;" href="Post/{{blogData.NavUrlString}}/{{blogData.BlogId}}#comment-form">"Comments Form"</a>
                                available below.
                            </p>
                        </div>

                        <div class="post-bottom clearfix">
                            <div class="post-tags pull-left">
                                <a href="#" ng-repeat="tag in tags">{{tag.Tag}}</a>
                            </div>
                            <div class="share-items pull-right">
                                <ul class="social-icons unstyled">
                                    <li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
                                    <li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article><!--/ article end -->

                    <nav class="post-navigation clearfix">
                        <div class="post-previous" ng-show="prevPost != null">
                            <a href="@Url.Action(string.Empty, "Post")/{{prevPost.NavUrlString}}/{{prevPost.BlogId}}" target="_self">
                                <span><i class="fa fa-angle-left"></i>Previous Post</span>
                                <h3 class="title-normal">{{prevPost.Title}}</h3>
                            </a>
                        </div>
                        <div class="post-next" ng-show="nextPost != null">
                            <a href="@Url.Action(string.Empty, "Post")/{{nextPost.NavUrlString}}/{{nextPost.BlogId}}" target="_self">
                                <span>Next Post <i class="fa fa-angle-right"></i></span>
                                <h3 class="title-normal">{{nextPost.Title}}</h3>
                            </a>
                        </div>
                    </nav><!-- Post navigation end -->

                    <div class="author-box">
                        <div class="author-img pull-left">
                            <img ng-src="~/Images/Blogger/{{blogData.blogger.Photo}}" alt="{{blogData.blogger.Photo.split('.')[0]}}">
                        </div>
                        <div class="author-info">
                            <h3>{{blogData.blogger.FirstName}} {{blogData.blogger.LastName}}</h3>
                            <p>{{blogData.blogger.AboutMe}}</p>
                            <div class="authors-social">
                                <span>Follow Me: </span>
                                @*<a href="#"><i class="fa fa-behance"></i></a>*@
                                <a href="{{blogData.blogger.Twitter}}"><i class="fa fa-twitter"></i></a>
                                <a href="{{blogData.blogger.Facebook}}"><i class="fa fa-facebook"></i></a>
                                <a href="{{blogData.blogger.Instagram}}"><i class="fa fa-instagram"></i></a>
                                @*<a href="{{blogData.blogger.GooglePlus}}"><i class="fa fa-google-plus"></i></a>
                                    <a href="{{blogData.blogger.Pinterest}}"><i class="fa fa-pinterest-p"></i></a>*@
                            </div>
                        </div>
                    </div> <!-- Author box end -->

                    <div class="related-post">
                        <h2 class="title-normal">You Also Might Like</h2>
                        <div class="row">
                            <div class="col-md-6" ng-repeat="post in relatedPosts">
                                <div class="related-item-content border-overlay">
                                    <a class="related-post-img" href="@Url.Action(string.Empty, "Post")/{{post.NavUrlString}}/{{post.BlogId}}" target="_blank">
                                        <img ng-src="~/Images/Post/{{post.TitleImage.split('.')[0]}}-RP.{{post.TitleImage.split('.')[1]}}" alt="img">
                                    </a>
                                    <div class="post-content">
                                        <div class="post-cat title-font">
                                            <a href="#">{{post.RelatedTagName}}</a>
                                        </div>
                                        <h2 class="entry-title"><a href="@Url.Action(string.Empty, "Post")/{{post.NavUrlString}}/{{post.BlogId}}" target="_blank">{{post.Title}}</a></h2>
                                    </div>
                                </div>
                            </div><!-- Col 6 end -->
                        </div>
                    </div><!-- Related post end -->
                    <!-- Post comment start -->
                    <div id="fb-comments" class="fb-comments" data-href="http://travphoblog.com/Post/{{blogData.NavUrlString}}/{{blogData.BlogId}}" data-numposts="5" data-width="1140" data-mobile="true" data-order-by="reverse_time"></div>
                    <br /><br />
                    <h5 class="title-normal">Don't want to use Facebook? Use our <a onclick="goToByScroll('comment-form')" href="">Comment Form</a> instead.</h5>
                    <div id="comments" class="comments-area">
                        <h3 class="comments-heading title-normal">{{comments.length}} Comments</h3>
                        <ul class="comments-list">
                            <li ng-repeat="x in comments | filter: { ParentId: 0 }">
                                <div class="comment">
                                    <img class="comment-avatar pull-left" alt="Commenter Avatar" ng-src="{{x.Commenter.Avatar != null && x.Commenter.Avatar || '/Images/Post/Avatar_Man.png'}}">
                                    <div class="comment-body">
                                        <div class="comment-author">
                                            <span class="title-font">{{x.Commenter.Name}}</span>
                                            <span class="comment-date">{{x.Date | date :  "MMMM d, yyyy"}}</span>
                                        </div>
                                        <p>{{x.Comment}}</p>
                                        <div class="text-left">
                                            <a class="comment-reply" onclick="goToByScroll('comment-form')" ng-click="setCommentParent(x.Id)" href="">Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comments-reply">
                                    <li ng-repeat="c in comments" ng-if="c.ParentId == x.Id">
                                        <div class="comment">
                                            <img class="comment-avatar pull-left" alt="Commenter Avatar" ng-src="{{x.Commenter.Avatar != null && c.Commenter.Avatar || '/Images/Post/Avatar_Man.png'}}">
                                            <div class="comment-body">
                                                <div class="comment-author">
                                                    <span class="title-font">{{c.Commenter.Name}}</span>
                                                    <span class="comment-date">{{c.Date | date :  "MMMM d, yyyy"}}</span>
                                                </div>
                                                <p>{{c.Comment}}</p>
                                                <div class="text-left">
                                                    <a class="comment-reply" onclick="goToByScroll('comment-form')" ng-click="setCommentParent(x.Id)" href="">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- comments-reply end -->
                            </li><!-- Comments-list li end -->
                        </ul><!-- Comments-list ul end -->
                    </div><!-- Post comment end -->

                    @*<comment-component input="$blogInfoCtrl.comment" on-submit="$blogInfoCtrl.saveComment(commentsData)"></comment-component>*@

                    <div id="comment-form" class="comments-form">
                        <h3 class="title-normal">Leave A Comment</h3>
                        <form role="form" ng-submit="addUser()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control required-field" id="message" placeholder="Your comment here" ng-model="comment" rows="9" required></textarea>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" placeholder="Your Name" ng-model="user.Name" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" placeholder="Your Mail" ng-model="user.Email" type="email" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Your Website" ng-model="user.Website" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">Post Comment</button>
                            </div>
                        </form>
                    </div><!-- Comments form end -->

                </div><!--/ Content end -->
            </div><!--/ Content col end -->

        </div><!--/ Blog row end -->
    </div><!--/ Blog container end -->
</section><!--/ Blog end -->
